{% extends "base.html" %}

{% block content %}
<div style="background-image: url('ImageLocation');background-size: cover; height:480px; padding-top:80px;">
  <img src="flask\LouisianaGreenCorpLogo.png" style="height:150px; width:150px; border-radius: 50%; border: 10px solid #0c9c1377;" alt="Profile picture.">
</div>
<h1 class="title">
  Welcome, Name!
</h1>
  <button type="button" style="background-color:rgb(173, 105, 16);margin:auto;display:block">Change Email</button>
  <button type="button" style="background-color:rgb(173, 105, 16);margin:auto;display:block">Change Password</button>
  {% endblock %}